{% comment %} <div class="search_overlay_wrapper hide_search">&nbsp;</div> {% endcomment %}
<div class="customized_search_result hide_search">

  <!-- <div class="search_field_announcement">
    <div class="search_announcement_wrapper">
      <div class="search_announcement_offer">
        <h4>Free Shipping on Orders @799</h4>
        <h4>COD Available Now + Orders Ship Within 24 Hours</h4>
        <h4>Get 5% OFF on prepaid payment upto 50</h4>
      </div>
    </div>
    <div class="search_field">
      <form action="/search" method="get" role="search">
      <input type="search" name="q" placeholder="Search…" aria-label="Search" class="search_id">
      <button type="submit" hidden>Search</button>
      </form>
    </div>
  </div> -->
<div class="search_overlay_wrapper hide_search">&nbsp;</div>
  
  <div class="resulted_search">
    <div class="search_products_wrapper">

    </div>
    
    <div class="search_articles_wrapper">
    <h2 id="predictive-search-products" class="predictive-search__heading text-body caption-with-letter-spacing no-border">Blogs</h2>
      <div class="actual_articles">
        
      </div>
    </div>

    
  </div>
</div>