<style>
  .support-section {
    padding: 2rem 5rem;
  }

  .support-section .question-header {
    font-size: 20px;
  }

  span.icon.whatsapp_contact {
    max-width: 4%;
  }
  @media screen and (max-width:768px) {
    .support-section {
      padding: 2rem 2rem;
    }

    .rich-text__wrapper {
      padding: 0;
    }

    span.icon.whatsapp_contact {
    max-width: 10%;
    }
  }
</style>

<div class="support-section page-width">
    <div class="question-header">Got any Question?</div>
  
    <div class="customer-care">
      <div class="section-title">Customer Care:</div>
      <div class="contact-item">
        <a href="/">
        <span class="icon"><img src="https://cdn.shopify.com/s/files/1/0774/8612/9427/files/call.png?v=1748859312"></span>
        <span class="phone-number">+91 9xxxxxxxx</span>
        </a>
      </div>
      <div class="contact-item">
        <a href="mailto:customer@kiwikisan.in">
        <span class="icon"><img src="https://cdn.shopify.com/s/files/1/0774/8612/9427/files/Icon_Frame.png?v=1748859312"></span>
        <span class="email-link">customercare@kiwikisan.in</span>
        </a>
      </div>
      <div class="contact-item">
        <a href="/">
        <span class="icon"><img src="https://cdn.shopify.com/s/files/1/0774/8612/9427/files/location.png?v=1748859312"></span>
        <span class="location-link">Location</span>
        </a>
      </div>
      <div class="working-hours">Working Hours: 10AM - 7AM IST Monday to Saturday</div>
    </div>
  
    <div class="get-in-touch">
      <div class="section-title">Get in touch</div>
      <div class="contact-line">
        For collaboration and business related queries:
        <a href="mailto:business@kiwikisan.in" class="email-link">business@kiwikisan.in</a>
      </div>
      <div class="contact-line">
        For any other queries:
        <a href="mailto:support@kiwikisan.in" class="email-link">customersupport@kiwikisan.in</a>
      </div>
    </div>
  
   
  </div>
</div>
 <div class="whatsapp-chat">
  <div class="whatsapp-label">
    <span class="icon whatsapp_contact"><img src="https://cdn.shopify.com/s/files/1/0774/8612/9427/files/whatsapp_image_contact.png?v=1748847605"></span>
    <span>KIWI Kisan Window <img src="https://cdn.shopify.com/s/files/1/0774/8612/9427/files/right_icon_conatct.png?v=1748847604" class="right_icon"></span>
  </div>
  <a href="" class="chat-button">Continue to Chat</a>
  </div>
{% schema %}
  {
    "name": "Contact Info",
    "settings": [],
    "presets": [{
      "name": "Contact Info"
    }]
  }
{% endschema %}